.tarjeta {
	width: 200px;
	height: 200px;
	transition: 0.2s;
	padding: 20px;
	border: 1px solid black;
}
/* .rojo:hover {
	transform: translate(0px, 60px);
} */
.contenedor {
	display: flex;
	justify-content: space-around;
}
.tarjeta:hover {
	transform: translateY(50px);
	transform: skew(0, 30deg);
	transform: scale(2);
}
.imagen {
	margin: 20px;
	overflow: hidden;
}
/* skew es para inclinar un elemento, se usan grados */
/* scale crece en tamaño */
.tarjeta img:hover {
	transition: 2s;
}
.tarjeta img:hover {
	transform: scale(2);
}
