.tarjeta {
	width: 300px;
	height: 346px;
	margin: 0 0 5px;
	font-family: Avenir;
	font-size: 16px;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	img {
		width: 100%;
	}
}
.type {
	color: #999a9e;
	display: flex;
}
.false {
	background-color: #999a9e;
}
